<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>DiCaprio Clock</title>

    <!-- CSS -->
    <!-- load bootstrap and personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel='stylesheet'>
    <link rel "stylesheet" href="css/style.css">
    

</head>
<body>
    <div class="container">
        <div class="openPage">
            <h1> Dicaprio Clock!</h1>
            <p>How much time do you have left?</p>
        </div>
            <div ng-app='MyApp'>
           
           <p>Enter your Date of Birth:</p>
           <form>
               <select ng-model='month'>
                    <option value='01'>January
                    <option value='02'>February
                    <option value='03'>March
                    <option value='04'>April
                    <option value='05'>May
                    <option value='06'>June
                    <option value='07'>July
                    <option value='08'>August
                    <option value='09'>September
                    <option value='10'>October
                    <option value='11'>November
                    <option value='12'>December
                </select>
                 <select ng-model='day'>
                    <option value='01'>01
                    <option value='02'>02
                    <option value='03'>03
                    <option value='04'>04
                    <option value='05'>05
                    <option value='06'>06
                    <option value='07'>07
                    <option value='08'>08
                    <option value='09'>09
                    <option value='10'>10
                    <option value='11'>11
                    <option value='12'>12
                    <option value='13'>13
                    <option value='14'>14
                    <option value='15'>15
                    <option value='16'>16
                    <option value='17'>17
                    <option value='18'>18
                    <option value='19'>19
                    <option value='20'>20
                    <option value='21'>21
                    <option value='22'>22
                    <option value='23'>23
                    <option value='24'>24
                    <option value='25'>25
                    <option value='26'>26
                    <option value='27'>27
                    <option value='28'>28
                    <option value='29'>29
                    <option value='30'>30
                    <option value='31'>31
                </select>
                 <select ng-model='year'>
                    <option value='01'>01
                    <option value='02'>02
                    <option value='03'>03
                    <option value='04'>04
                    <option value='05'>05
                    <option value='06'>06
                    <option value='07'>07
                    <option value='08'>08
                    <option value='09'>09
                    <option value='10'>10
                    <option value='11'>11
                    <option value='12'>12
                    <option value='13'>13
                    <option value='14'>14
                    <option value='15'>15
                    <option value='16'>16
                    <option value='17'>17
                    <option value='18'>18
                    <option value='19'>19
                    <option value='20'>20
                    <option value='21'>21
                    <option value='22'>22
                    <option value='23'>23
                    <option value='24'>24
                    <option value='25'>25
                    <option value='26'>26
                    <option value='27'>27
                    <option value='28'>28
                    <option value='29'>29
                    <option value='30'>30
                    <option value='31'>31
                </select>
            </form>
        </div>
    </div>
</body>
</html>