body {

}
.everything {
 position: fixed;
 padding: 0;
 margin: 0;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background;
}

.open {
background: url(http://media0.giphy.com/media/jNdw5Qmy5MOpq/giphy.gif)
 no-repeat center center fixed;
 background-size: contain;
 -webkit-background-size: contain;
 -moz-background-size: contain;^^
 -o-background-size: contain;
 background-size: contain;
 padding: 5%;
}

.timerEnd{
background:#6DB3F2 url(http://www.secondarycharacters.org/uploads/1/2/0/2/12027622/1465716_orig.jpg)
 no-repeat center center fixed;
 background-size: contain;
 -webkit-background-size: contain;
 -moz-background-size: contain;^^
 -o-background-size: contain;
 background-size: contain;
 padding: 5%;
}

.timer{
background: url(http://i.dailymail.co.uk/i/pix/2015/09/29/18/2CE8222200000578-3253718-Mountain_man_The_40_year_old_actor_portrays_real_life_frontiersm-m-10_1443549228919.jpg)
 no-repeat center center fixed;
 background-size: contain;
 -webkit-background-size: contain;
 -moz-background-size: contain;^^
 -o-background-size: contain;
 background-size: contain;
 padding: 5%;

}

.old{
 background: url(https://s-media-cache-ak0.pinimg.com/236x/69/48/53/694853dd712ce5bf3241a909f8b76893.jpg)
 no-repeat center center fixed;
 background-size: contain;
 -webkit-background-size: contain;
 -moz-background-size: contain;^^
 -o-background-size: contain;
 background-size: contain;
 padding: 5%;
}


.young{
 background: url(http://i1379.photobucket.com/albums/ah144/NadineOtt/f75ed62f-501c-4932-bcf6-39beef8c08d0_zpsu0g2czsq.jpg)
 no-repeat center center fixed;
 background-size: contain;
 -webkit-background-size: contain;
 -moz-background-size: contain;^^
 -o-background-size: contain;
 background-size: contain;
 padding: 5%;
}


body {padding-top:50px; }
.container .openPage {border-radius: :40px; }

